services:
  redis:
    image: redis:7.0-alpine
    restart: always
    volumes:
      - redis_data:/data
    expose:
      - 6379

  db:
    image: postgres:14.3-alpine
    container_name: arhatogram_db
    restart: always
    env_file: .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: arhatogram_api
    env_file: .env
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  worker:
    build:
      context: .
    container_name: arhatogram_worker
    command: celery -A CoreRoot worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - db

  nginx:
    image: nginx:1.25-alpine
    container_name: arhatogram_web
    restart: always
    ports:
      - "80:80"
    depends_on:
      - api

volumes:
  postgres_data:
  static_volume:
  media_volume:
  redis_data:
